kNN/Ruj/assn1
model_k_12.npy
decisionTrees.cpython-36.pyc
dTrees.cpython-36.pyc
svm.cpython-36.pyc
decisionTrees.pyc
naiveBayes.cpython-36.pyc
CS17MTECH11028.pages
CS17MTECH11028.pdf
naiveBayes/emailDataset.csv
naiveBayes/EmailsData/reducedDataset.csv
